* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

/* html, body {
  height: 100%;
} */

body {
  display: flex;
  justify-content: center;


  font-family: 'Pacifico', cursive;

}

.container {
  background: #C5C1C1;
  margin: 50px;
  padding: 50px;
  border-radius: 25px;

}


h1 {
  margin-bottom: 20px;
  font-family: 'Pacifico', cursive;
  text-align: center;
  color: #27AAFF;
}

h1 span {
  color: #F24E1E;

}

.status-action {
  margin-top: 25px;
  font-size: 25px;

  display: flex;
  justify-content: space-around;
}

.restart {
  cursor: pointer;
}

.restart:hover {
  color: #F24E1E;
}

.board {
  background: #a1898f;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  margin-top: 50px;
}

.cell {
  height: 200px;
  width: 200px;
  background: #C5C1C1
}






/* 
.board {
  height: 300px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  
}

.cell {
  border-bottom: 5px solid #27AAFF;
  border-right: 5px solid #27AAFF;
  font-size: 50px;
  text-align: center;
  line-height: 95px;
}

.cell:nth-child(3n) {
  border-right: none;
}
.cell:nth-child(n+7) {
  border-bottom: none;
}

.cell.highlight {
  background-color: #006bb3 (143, 143, 5, 0.973);
} */

